$color__main-navigation-hover: #70C745;
$color__text-main: #00792e;
$color__excerpt-link: #007399;

$color__background-input: #C8D9E0;
$color__background-submit: #65afcf;
$color__background-tabs: #ABCCBA;