.main-navigation {
	display: block;
	width: 100%;
	padding: 5px 0;
	background-color: rgba(0,121,46, 0.2);
	.logo img {
		height: 60px;
	}
	ul {
		list-style: none;
		margin: 0;
		font-weight: 600;
		:last-child {
			padding-right: 0;
		}
		li {
			padding: 25px;
			@include font-size(2.2);
		}
		a {
			text-decoration: none;
			color: #fff;
			text-shadow: 2px 2px black;
			&:hover {
				color: $color__main-navigation-hover;
				transition: 0.3s;
			}
		}
	}
}